.navbar {
  background-color: #617a7a !important; /* Background color for the navbar */
  border-radius: 10px; 
  padding: 10px 20px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  font-family: 'sans serif'; 
}

/* Navbar links */
.navbar-nav .nav-link {
  color: #f8f9fa; 
  margin: 0 10px; 
  padding: 10px 15px; 
  text-decoration: none; /* Remove underline from links */
  border-radius: 5px; /* Rounded corners for nav links */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

/* Navbar links on hover */
.navbar-nav .nav-link:hover {
  background-color: #8eadad; 
  color: #fff; /* Text color on hover */
}

/* Active navbar link */
.navbar-nav .nav-link.active {
  background-color: #8eadad; 
  border-radius: 5px; /* Rounded corners for active nav link */
  color: #fff; 
  font-weight: 700;
  font-size:18px;
}

/* Responsive navbar styles */
@media (max-width: 768px) {
  .navbar {
      padding: 10px; 
  }
  
  .navbar-nav {
      display: flex;
      flex-direction: column; 
      align-items: center; 
  }
  
  .navbar-nav .nav-link {
      margin: 5px 0; /* Adjust margin for stacked links */
  }
}
.navbar{
    position: fixed; /* Set the navbar to be fixed */
    top: 0; /* Align the navbar to the top of the page */
    width: 100%; /* Make the navbar take the full width of the page */
    z-index: 1000; /* Ensure the navbar is above other content */
    background-color: #617a7a !important; /* background color for the navbar */
    border-radius: 10px; /* Add rounded corners to the navbar */
    padding-bottom: 10px; /* Add some space at the bottom of the navbar */
}

.navbar-nav .nav-link {
    color: #f8f9fa; /* Lighter text color for nav links */
}

.navbar-nav .nav-link.active {
    background-color: #8eadad; /* Light background color for the currently selected page */
    border-radius: 0.25rem; /* Add some border-radius for rounded corners */
    padding: 0.5rem 1rem; /* Adjust padding for better appearance */
}

body {
    padding-top: 50px; /* Adjust this value according to your navbar height */
}
